<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Producer</title>
</head>
<body>

<br>
<p><a href="/">Home</a></p>

<br>
<form action="/producer" method="post">
    Brand: <input type="text" name="brand"/> <br> <br>
    Model: <input type="text" name="model"/> <br> <br>
    LicensePlate: <input type="text" name="licensePlate"/> <br> <br>
    Price: <input type="number" name="price"/> <br> <br>
    <input type="submit" value="Add car"> <br> <br>
</form>

<br>
<p>Message: ${message}</p>

</body>
</html>